
<div style="display: flex; justify-content: center;">
    <img srcset=
                "assets/onlineshop-01-.jpg 7000w" 
         src="assets/onlineshop-01-.jpg" alt=" Das Logo">
    
    
    </div>
    
    
        
        <main class="custom-container text-center">
            <div class="content">
           <p>
                 Mit nur einem Klick wird Ihre Bestellung innerhalb eines Tages direkt vor Ihre Haustür geliefert.</p>
            
                <p><span style="font-size: 130%;"> Wie verwende ich diese App?</span><br>
                    <strong><a class="li" routerLink="/anzeige">Erstellen</a></strong>  einen neuen Anzeige zum Aufbau Ihrer Datenbank.<br>
                    <strong><a class="li" routerLink="/table">Sehe alles</a></strong>   Ihrer Artikel und bearbeiten Sie sie bei Bedarf.
                </p>
                
                <p style="font-size: 150%;">Genießen Sie die Zeit mit unsere App<br> </p>
               
            </div>
                
            </main>
    <!-- </main>  -->